#showFilter {
    animation: show 800ms forwards;
    opacity: 0;
}

#hideFilter {
    opacity: 0;
}

#showProjectsItem {
    animation: show 800ms forwards;
    opacity: 0;
}

#hideProjectsItem {
    opacity: 0;
}

#modalVisible {
    opacity: 0;
    width: 0;
    height: 0;
    animation: showModal 500ms forwards;
}

#modalHide {
    animation: hideModal 500ms forwards;

}

@keyframes show {
    100% {
        opacity: 1;
    }
}

@keyframes showModal {
    100% {
        opacity: 1;
        width: 40rem;
        height: 70vh;
    }
}

@keyframes hideModal {
    0% {
        opacity: 1;
        width: 40rem;
        height: 70vh;
    }
    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}