.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .line {
            background-color: var(--white);
            width: 5rem;
            height: .2rem;
            border-radius: 1rem;
        }
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        width: 100%;

        .filterArea {
            display: grid;
            align-items: center;
            justify-content: center;
            position: relative;
            grid-template-columns: repeat(4, 1fr);

            .background {
                background-color: var(--purple);
                position: absolute;
                width: 10rem;
                height: 3rem;
                transition: 500ms;
            }

            .filterItem {
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 999;
                width: 10rem;
                height: 3rem;
                transition: 500ms;

                &:hover {
                    cursor: pointer;
                }
                
                span {
                    font-size: 1.2rem;
                    transition: 500ms;
                }
            }
        }

        .projectsArea {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 2rem;

            .projectsItem {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                display: flex;
                width: 22rem;
                height: 17rem;

                &:hover {
                    .projectsItemHidden {
                        opacity: 1;
                        transition: opacity 500ms;

                        .projectsItemHeader {
                            opacity: 1;
                            transform: translateY(0);
                            transition: transform 500ms, opacity 500ms;
                        }

                        .projectsItemButton {
                            opacity: 1;
                            transform: translateY(0);
                            transition: transform 500ms, opacity 500ms, background-color 500ms;
                        }
                    }
                }

                .projectsItemHidden {
                    background-color: var(--black);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    overflow: hidden;
                    opacity: 0;
                    transition: opacity 500ms;
                    width: 22rem;
                    height: 17rem;

                    .projectsItemHeader {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        opacity: 0;
                        transform: translateY(-250%);
                        transition: transform 500ms, opacity 500ms;

                        h2 {
                            font-size: 2rem;
                        }

                        span {
                            color: var(--purple);
                            font-size: 1.3rem;
                            line-height: 1rem;
                        }
                    }

                    .projectsItemButton {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        border: 1px solid var(--purple);
                        width: 9rem;
                        height: 2.5rem;
                        margin-top: 2rem;
                        opacity: 0;
                        transform: translateY(250%);
                        transition: transform 500ms, opacity 500ms, background-color 500ms;

                        &:hover {
                            background-color: var(--purple);

                            span {
                                color: var(--white);
                                transition: 500ms;
                            }
                        }

                        span {
                            transition: 250ms;
                        }
                    }
                }
            }
        }
    }

    .modalContainer {
        background-color: rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        height: 100vh;

        .modal {
            background-color: var(--black);
            overflow: hidden;
            position: relative;
            opacity: 0;
            width: 0;
            height: 0;
            animation: show 500ms forwards;
            transition: opacity 500ms, width 500ms height 500ms;

            img {
                position: relative;
                object-fit: cover;
                object-position: center;
                opacity: 0;
                animation: showImg 3s forwards;
                width: 40rem;
                height: 40vh;
            }

            .arrow {
                background-color: rgba(0, 0, 0, 0.4);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                z-index: 999;
                position: absolute;
                bottom: 0;
                width: 3rem;
                height: 3rem;

                span {
                    color: var(--white);
                    font-size: 2rem;
                }
            }

            .headerModal {
                display: flex;
                flex-direction: column;
                justify-content: center;
                opacity: 0;
                transform: translateX(150%);
                animation: showToCenter 500ms forwards;
                animation-delay: 1s;
                border-bottom: 1px solid var(--gray-500);
                margin: 2rem;
                padding-bottom: 1rem;

                h2 {
                    font-size: 2rem;
                }

                span {
                    color: var(--gray-500);
                    font-size: 1.3rem;
                    line-height: 1rem;
                }
            }

            .footerModal {
                opacity: 0;
                transform: translateX(-150%);
                animation: showToCenter 500ms forwards;
                animation-delay: 1s;

                p {
                    color: var(--gray-100);
                    font-weight: 100;
                    line-height: 1.5rem;
                    margin: 0 2rem;
                }
    
                .footerRow {
                    display: flex;
                    align-items: center;
                    margin: 1rem 2rem;
                    
                    .buttonModal {
                        background-color: var(--purple);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        text-decoration: none;
                        border: 1px solid transparent;
                        transition: 500ms;
                        padding: 0 1rem;
                        height: 2.5rem;
        
                        &:hover {
                            background-color: transparent;
                            border: 1px solid var(--purple);
        
                            .icon {
                                color: var(--purple);
                                transition: 250ms;
                            }
        
                            span {
                                color: var(--purple);
                                transition: 250ms;
                            }
                        }
        
                        .icon {
                            color: var(--white);
                            transition: 250ms;
                        }
        
                        span {
                            color: var(--white);
                            transition: 250ms;
                            font-size: 1.3rem;
                            margin-left: .5rem;
                        }
                    }

                    .buttonModalGithub {
                        background-color: var(--white);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        text-decoration: none;
                        border: 1px solid transparent;
                        transition: 500ms;
                        margin-left: 1rem;
                        padding: 0 1rem;
                        height: 2.5rem;
        
                        &:hover {
                            background-color: transparent;
                            border: 1px solid var(--white);
        
                            .icon {
                                color: var(--white);
                                transition: 250ms;
                            }
        
                            span {
                                color: var(--white);
                                transition: 250ms;
                            }
                        }
        
                        .icon {
                            color: var(--black);
                            transition: 250ms;
                        }
        
                        span {
                            color: var(--black);
                            transition: 250ms;
                            font-size: 1.3rem;
                            margin-left: .5rem;
                        }
                    }
                }
    
                .closeButtonModal {
                    background-color: rgba(255, 255, 255, 0.7);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    cursor: pointer;
                    transition: 250ms;
                    right: 2rem;
                    bottom: 0;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 1rem;
    
                    &:hover {
                        background-color: var(--white);
                    }
                    
                    span {
                        color: var(--black);
                    }
                }
            }
        }
    }
}

@keyframes showHiddenHeader {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes show {
    100% {
        opacity: 1;
        width: 40rem;
        height: 70vh;
    }
}

@keyframes showImg {
    100% {
        opacity: 1;
    }
}

@keyframes showToCenter {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}