.about {        /** Div Father */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background-color: #303131;
}
.about .side {      /** Div para separar as duas div */
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.about .side .title {       /** Título na esquerda */
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}
.about .side .lineBottom {      /** Linha abaixo do título */
    width: 40%;
    height: 5px;
    background-color: #e14b5a;
}
.about .side .textAbout {       /** Texto explicando um pouco sobre */
    color: #888;
}
.about .side .rowBtn {      /** Div para alinhar os buttons horizontalmente */
    display: flex;
}