#showContentLeft {
    animation: appearSideToCenter 800ms forwards;
    opacity: 0;
    transform: translateX(-65%);
}

#hideContentLeft {
    opacity: 0;
}

#showContentRight {
    animation: appearSideToCenter 800ms forwards;
    opacity: 0;
    transform: translateX(65%);
}

#hideContentRight {
    opacity: 0;
}

@keyframes appearSideToCenter {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
