.header {       /** Div Father */
}

/** Header Top **/
.header .headerTop {        /** Div Father */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    transition: 250ms;
    position: fixed;
    top: 0;
    background-color: #2B2C2C;
}
.header .headerTop .logo {      /** Span com texto (logo) apenas um M. */
    margin-left: 100px;
    color: #e14b5a;
    font-size: 40px;
    font-weight: bold;
}
.header .headerTop .side {      /** Div para separar com a logo */
    margin-right: 100px;
    display: flex;
}
.header .headerTop .side .linkDiv {         /** Div para juntar o link com uma div que imita uma borderBottom para o link */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 30px;
    cursor: pointer;
}
.header .headerTop .side .linkDiv .link {       /** Link */
    color: #fff;
    text-decoration: none;
    transition: 250ms;
}
.header .headerTop .side .linkDiv .linkBorderBottom {       /** Div que imita uma borderBottom para o link */
    width: 0;
    height: 2px;
    background-color: #e14b5a;
}
/** **/


/** HeaderBottom **/
.header .headerBottom {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 40% 40%;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.header .headerBottom .side {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.header .headerBottom .side .title {
    color: #fff;
    font-size: 40px;
}
.header .headerBottom .side .text {
    font-size: 35px;
    color: #888;
    line-height: 1.3;
}




/** HOVERS **/
.header .headerTop .side .linkDiv:hover .linkBorderBottom {     /** Aplicada na div que imita a borderBottom */
    animation: growBorderBottom 250ms forwards;     /** Forwards significa que vai completar a animação e continuar lá */
}
.header .headerTop .side .linkDiv:hover .link {     /** Aplicada nos links do headerTop */
    color: #e14b5a;
}
/** **/


/** ANIMATIONS */
@keyframes growBorderBottom {       /** Aumenta o tamanho da div que imita a borderBottom, aplicada no hover do linkDiv */
    to{width: 30px}
}
/** **/